.about {
   &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 120px;
   }
   &__item  {
      width: 50%;
      p:first-child {
         margin-bottom: 25px;
      }
      p {
         margin-bottom: 20px;
      }
   }
   &__buttons {
      margin-top: 50px;
      display: flex;
      gap: 40px;
      align-items: center;
   }
   &__link {
      display: flex;
      align-items: center;
      gap: 15px;

      &-image {
         width: 40px;
         height: 40px;
         background: url('../assets/images/Subtract.svg');
      }
      a {
         font-weight: 600;
         line-height: 19px;
         letter-spacing: 0.1em;
         color: #fff;
      }
   }
   &__dragon {
      position: relative;
      height: 847px;
      width: 847px;
      &::after {
         content: "";
         position: absolute;
         inset: 0px;
         top: 32px;
         left: -98px;
         z-index: -1;
         background-image: url('../assets/images/about__dragon.png');
         background-size: cover;
      }
   }
   &__how {
      .about__wrapper {
         gap: 100px;
      }
   }
   .list__circle {
      display: inline-block;
      background-image: url('../assets/images/gold__circle.svg');
      width: 22px;
      height: 22px;
      margin-top: 5px;
      background-size: cover;
   }
   .list__item {
      display: flex;
      gap: 20px;
   }
   .how__dragons {
      display: flex;
      justify-content: center;
      img {
         transform: scale(1.2);
      }
   }
   .how__info {
      display: flex;
      gap: 20px;
      margin-bottom: 40px;
   }
   .how__icon {
      min-width: 65px;
      height: 65px;
   }
}