body {
   font-family: 'Rubik', sans-serif;
   font-size: 1.125rem;
   font-weight: 400;
   line-height: 150%;
   color: #fff;
}

p {
   color: #E2E2E2;
   letter-spacing: 0.02em;
}

button {
   font-size: 1rem;
   font-weight: 600;
}

h1 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 3.75rem;
   font-weight: 700;
   line-height: 115%;
   margin-bottom: 40px;
}

h2 {
   font-size: 2.25rem;
   font-weight: 600;
   margin-bottom: 15px;
}

.caption {
   font-size: 1.125rem;
   font-weight: 500;
   color: var(--yellow);
}

@media screen and (max-width: 576px) {
   body {
      font-size: 0.95rem;
      letter-spacing: 0;
   }
   
   button {
      font-size: 1rem;
   }
   
   h1 {
      margin-bottom: 10px;
      font-size: 1.8rem;
   }
   
   h2 {
      font-size: 1.4rem;
   }
   
   .caption {
      font-size: 0.95rem;
   }
}