@media screen and (max-width: 576px) {
   .desktop {
      display: none !important;
   }
   .mobile {
      display: block !important;
   }
   .about__dragon-mobile {
      position: relative;
      display: flex !important;
      justify-content: center;
      height: 408px;
      width: 408px;
      img {
         transform: scale(1.4);
         position: absolute;
         left: -38px;
      }
   }
   .header {
      margin-top: 40px;
   }
   .about__wrapper {
      flex-direction: column;
   }
   .about__how .about__wrapper {
      gap: 20px;
   }
   .about__item {
      width: 100%;
   }
   .about__buttons {
      flex-direction: column;
      margin-top: 0;
      gap: 15px;
   }
   .page {
      overflow: hidden;
   }
   .about__item.w40, .about__item.w60 {
      width: 100% !important;
   }
   .beasts__cards {
      flex-direction: column;
      position: relative;
      align-items: center;
      left: 69px;
   }
   .beasts__card {
      width: 400px;
      height: 400px;
      transform: scale(1.4);
      &:nth-child(2) {
         margin-left: -74px;
      }
      &:nth-child(3) {
         margin-left: -160px;
      }
   }

}