@media screen and (max-width: 576px) {
   .desktop {
      display: none !important;
   }
   .mobile {
      display: block !important;
   }
   .about__dragon-mobile {
      position: relative;
      display: flex !important;
      justify-content: center;
      height: 408px;
      width: 408px;
      img {
         transform: scale(1.4);
         position: absolute;
         left: -38px;
      }
   }
   .header {
      margin-top: 40px;
   }
   .about__wrapper {
      flex-direction: column;
   }
   .about__how .about__wrapper {
      gap: 20px;
   }
   .about__item {
      width: 100%;
   }
   .about__buttons {
      flex-direction: column;
      margin-top: 0;
      gap: 15px;
   }
   .page {
      overflow: hidden;
      padding-bottom: 100px;
   }
   .about__item.w40, .about__item.w60 {
      width: 100% !important;
   }
   .beasts__cards {
      flex-direction: column;
      position: relative;
      align-items: center;
      left: 69px;
   }
   .beasts__card {
      width: 400px;
      height: 400px;
      transform: scale(1.4);
      &:nth-child(2) {
         margin-left: -74px;
      }
      &:nth-child(3) {
         margin-left: -160px;
      }
   }

   .way {
      padding-bottom: 0;
      .about__wrapper {
         gap: 25px;
      }
      &__image {
         width: 255px;
         height: 140px;
      }
      &__text {
         max-width: 100%;
      }
      &__block {
         &:nth-child(even) {
            top: 0px;
            left: calc(100vw - 255px - 10px);;
         }
      }
   }

   .become {
      .about__wrapper {
         position: relative;
         gap: 30px;

         p {
            max-width: 220px;
            margin: 0 auto;
         }
      }
      &__dragons {
         justify-content: center;
         gap: 10px;
      }
      &__dragon {
         &:first-child {
            min-width: 159px;
            height: 159px;
            bottom: 50px;
            left: 25px;
            &::before {
               content: none;
            }
         }
         &:last-child {
            min-width: 168px;
            height: 142px;
            bottom: 46px;
            right: 10px;
            &::after {
               content: none;
            }
         }
      }
      &__main {
         left: 10px;
         min-width: 223px;
         height: 223px;
      }
      .gold__btn {
         position: absolute;
         width: 80%;
         left: 10%;
         bottom: -100px;
      }
   }

   .footer {
      height: 200px;
   }
   .footer__wrapper {
      padding: 20px 20px 30px;
   }
   .footer__logo {
      position: absolute;
      width: 168px;
      height: 110px;
      top: -59px;
      left: 5px;
   }
   .footer__social {
      align-self: flex-end;
   }
   .footer__item {
      justify-content: flex-end;
      flex-direction: column-reverse;
   }
   .footer__navigation {
      margin-bottom: 15px;
      .navigation {
         padding-left: 0;
         a {
            white-space: nowrap;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
         }
      }
      .navigation__items-wrapper {
         flex-wrap: wrap;
         gap: 0px;
         overflow: hidden;
         height: unset;
         .navigation-item {
            margin-right: 20px;
            margin-bottom: 5px;
         }
      }
   }
   .footer__rights {
      margin-top: 10px;
      address {
         flex-direction: column;
         gap: 10px;
         p {
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0em;
         }
      }
   }

   .roadmap {
      &__wrapper {
         margin-bottom: 80px;
      }
      &__road {
         padding-left: 20px;
      }
      .road {
         &__part {
            width: calc(100% - 10px);
            padding-top: 50px;
            padding-bottom: 35px;
            
            p {
               margin-bottom: 15px;
            }

            .stage {
               width: 38px;
               height: 38px;
               font-size: 1.25rem;
               line-height: 1.25rem;
               left: 0;
               bottom: -19px;
               &:after {
                  top: 2px;
                  left: 2px;
                  bottom: 2px;
                  right: 2px;
               }
            }
            &:nth-child(4) {
               border: none;
               border-right: 2px dashed #D9D8D8;
               border-bottom-left-radius: 200px;
               border-top-left-radius: 200px;
               &:before {
                  content: "";
                  position: absolute;
                  top: 0px;
                  left: 110px;
                  right: 110px;
                  height: 1px;
                  background-image: linear-gradient(90deg, #696868, #696868 75%, transparent 75%, transparent 100%);
                  background-size: 5px 5px;
               }
               padding-left: 0;
               .stage {
                  left: unset;
                  right: 100px;
                  bottom: -19px;
               }
            }
            &:nth-child(2) {
               border: 2px dashed #D9D8D8;
               border-left: none;
               border-bottom: none;
               border-bottom-right-radius: 200px;
               border-top-right-radius: 200px;
               .stage {
                  left: unset;
                  right: 100px;
                  bottom: -19px;
               }
            }
            &:nth-child(3), &:nth-child(5) {
               padding-left: 60px;
               border: none;
               border-left: 2px dashed #D9D8D8;
               border-bottom-left-radius: 200px;
               border-top-left-radius: 200px;
               &:before {
                  content: "";
                  position: absolute;
                  top: 0px;
                  left: 110px;
                  right: 110px;
                  height: 1px;
                  background-image: linear-gradient(90deg, #696868, #696868 75%, transparent 75%, transparent 100%);
                  background-size: 5px 5px;
               }
            }
            &:nth-child(5) {
               width: calc(100% - 20px);
               &:after {
                  content: "";
                  position: absolute;
                  bottom: 0px;
                  left: 110px;
                  right: 110px;
                  height: 1px;
                  background-image: linear-gradient(90deg, #696868, #696868 75%, transparent 75%, transparent 100%);
                  background-size: 5px 5px;
               }
               .stage {
                  left: 100px;
               }
            }
         }
         &__date {
            font-size: 0.9375rem;
            line-height: 1.0925rem;
         }
         &__telegram {
            width: 43px;
            height: 36px;
            bottom: -18px;
            left: calc(100% - 130px);
            right: unset;
            transform: rotate(40.59deg);
            color: #EA9F3F;
         }
         &__interesting {
            position: relative;
            right: 10px;
            margin: 60px auto 0;
         }
      }
   }

   .team {
      &__wrapper {
         padding-bottom: 10px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 20px;
      }
      &__item {
         margin-bottom: 10px;
      }
      &__text {
         max-width: 150px;
      }
      &__image {
         width: 150px;
         height: 170px;
         border-radius: 2px;
         margin-bottom: 10px;
         img {
            border-radius: 2px;
         }
      }
      &__name {
         width: 100%;
         font-size: 0.8125rem;
         line-height: 0.975rem;
         margin-bottom: 1px;
      }
      &__position {
         font-size: 0.625rem;
         line-height: 0.6875rem;
      }
   }

   .dragons {
      &__item {
         flex-direction: column;
         &:nth-child(2) {
            .dragons__title {
               span {
                  bottom: 10px;
               }
            }
         }
         &.mb100 {
            margin-bottom: 40px;
         }
      }
      &__item-text {
         width: 100%;
      }
      &__item-image {
         &.pc {
            display: none;
         }
         &.mob {
            display: block;
            max-width: 305px;
            width: 100%;
            position: relative;
            bottom: 20px;
            margin: 0 auto;
         }
      }
      &__kinds {
         h1 {
            text-align: center;
            margin-bottom: 80px;
         }
         .dragons__item-text {
            max-width: 100%;
         }
         .dragons__item.right-img {
            position: relative;
            left: 0px;
         }
      }
      .dragon {
         &__up {
            position: relative;
            bottom: 20px;
            right: 0px;
         }
         &__left {
            position: relative;
            right: 0px;
         }
         &__description {
            margin-bottom: 0px;
         }
         &__text {
            width: 100%;
            &.big {
               width: unset;
            }
         }
      }
      &__title {
         display: flex;
         align-items: flex-start;
         position: relative;
         padding-left: 70px;
         margin-bottom: 40px;
         span {
            bottom: 30px;
            left: 20px;
            z-index: 2;
            width: 38px;
            height: 38px;
            font-size: 20px;
            line-height: 20px;
            &:after {
               top: 2px;
               left: 2px;
               bottom: 2px;
               right: 2px;
            }
         }
         h2 {
            max-width: 250px;
            white-space: normal;
         }
      }
      &__types {
         padding-bottom: 0px;
         margin-bottom: 30px;
      }
      &__types-wrapper {
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
      &__types-item {
         display: flex;
         flex-direction: column;
         text-align: center;
      }
      &__types-image {
         margin-bottom: 40px;
      }
      .stars {
         margin-top: 10px;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         flex-grow: 1;
         img {
            height: fit-content;
            width: fit-content;
         }
      }
   }
   
}