@media screen and (max-width: 576px) {
   .desktop {
      display: none !important;
   }
   .mobile {
      display: block !important;
   }
   .about__dragon {
      position: relative;
      height: 408px;
      width: 447px;
      &::after {
         content: "";
         position: absolute;
         inset: 0px;
         top: -38px;
         left: -89px;
         z-index: -1;
         background-image: url('../assets/images/about__dragon.png');
         background-size: cover;
      }
   }
   .header {
      margin-top: 40px;
   }
   .about__wrapper {
      flex-direction: column;
   }
   .about__how .about__wrapper {
      gap: 20px;
   }
   .about__item {
      width: 100%;
   }
   .about__buttons {
      flex-direction: column;
      margin-top: 0;
      gap: 15px;
   }
   .page {
      overflow: hidden;
   }
   .about__item.w40, .about__item.w60 {
      width: 100% !important;
   }
   .beasts__cards {
      flex-direction: column;
      position: relative;
      align-items: center;
      left: 69px;
   }
   .beasts__card {
      width: 400px;
      height: 400px;
      transform: scale(1.4);
      &:nth-child(2) {
         margin-left: -74px;
      }
      &:nth-child(3) {
         margin-left: -160px;
      }
   }

}