.roadmap {
   &__wrapper {
      padding-top: 50px;
      margin-bottom: 120px;
      h1 {
         margin-bottom: 0;
      }
   }
   &__road {
      padding-left: 50px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
   }
   .road {
      &__part {
         padding-top: 130px;
         padding-bottom: 40px;
         width: 50%;
         position: relative;

         .stage {
            position: absolute;
            bottom: -32.5px;
            left: -25px;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 65px;
            height: 65px;
            background: linear-gradient(274.65deg, rgba(233, 103, 94, 0.54) 5.21%, rgba(233, 128, 94, 0) 54.5%), radial-gradient(33.45% 113.08% at 27.73% -13.08%, #F7E89D 0%, rgba(247, 216, 157, 0) 100%), radial-gradient(29.58% 100% at 39.32% 0%, #F7E89D 0%, rgba(247, 232, 157, 0) 100%), linear-gradient(90deg, #EB9938 -7.05%, #ECC22D 112.05%);
            box-shadow: 1px 2px 2px rgba(232, 88, 43, 0.5), 3px 5px 5px rgba(232, 186, 96, 0.5), inset 2px 2px 2px #F2CDAB;
            border-radius: 50%;
            font-size: 36px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.02em;
            &:after {
               content: "";
               position: absolute;
               top: 4px;
               left: 4px;
               bottom: 4px;
               right: 4px;
               border: 1px solid rgba(255, 255, 255, 0.5);
               border-radius: 50%;
            }

         }

         &:nth-child(3) {
            border-top: 2px dashed #D9D8D8;
            padding-left: 100px;
            .stage {
               left: 75px;
            }
         }
         &:nth-child(4) {
            border: 2px dashed #D9D8D8;
            border-left: none;
            padding-left: 50px;
            border-bottom-right-radius: 200px;
            border-top-right-radius: 200px;
            .stage {
               left: 25px;
            }
         }
         &:nth-child(5) {
            width: calc(100% - 470px);
            position: relative;
            bottom: 2px;
            border: 2px dashed #D9D8D8;
            border-right: none;
            border-bottom-left-radius: 200px;
            border-top-left-radius: 200px;
            padding-left: 250px;
            .stage {
               left: 225px;
            }
         }
         
         p {
            margin-bottom: 30px;
         }
      }
      &__date {
         font-size: 1rem;
         font-weight: 600;
         line-height: 19px;
         letter-spacing: 0.1em;
         color: #EA9F3F;
         opacity: 0.8;
      }
      &__telegram {
         position: absolute;
         width: 50px;
         height: 50px;
         bottom: -22px;
         right: -16px;
         transform: rotate(23.97deg);
         color: #EA9F3F;
      }
      &__interesting {
         margin-left: 40px;
         margin-top: 130px;
         padding: 35px;
         text-align: center;
         border: 1px solid #EA9F3F;
         border-radius: 10px;

         h2 {
            line-height: 36px;
            letter-spacing: 0.02em;
            margin-bottom: 20px;
         }
         p {
            margin-bottom: 30px;
         }
      }
   }
}